@import "https://fonts.cdnfonts.com/css/akrobat";

body { overflow: hidden; }

#carmusic {
    position: absolute;
    color: #fff;
    top: 50vh;
}

#carmusic > h1 {
    position: relative;
    bottom: 15vh;
    left: 84.2vw;
    font-size: 1.5em;
    text-align: center;
    line-height: 0.5vh;
    font-family: 'Akrobat';
    letter-spacing: 0.09em;
}

#carmusic > h1 > p {
    font-size: 1.1em;
}

#youtubeLink {
    position: absolute;
    bottom: 10vh;
    left: 82vw;
    width: 280px;
    text-align: center;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 3vw;
	padding-left : 15px;
    padding-right: 15px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	letter-spacing: 0.13em;
    font-weight: bold;
    font-family: 'Akrobat';
    transition: .3s;
}

#youtubeLink:active {
    box-shadow: 0 0 50px #ffffff20;
}

#volumeButton {
    border-radius: 3vw;
    background-image: url('https://imgur.com/uBx6zIV.png');
    background-size: 120%;
    background-position: 80% 10%;
    background-repeat: no-repeat;
	filter: hue-rotate(150deg);
	
    color: black;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 5px;
	letter-spacing: 2px;
	font-family: 'Akrobat';
	font-size: 15;
    transition: .6s;
}

#volumeButton {
    position: absolute;
    top: 2vh;
    left: 81.8vw;
    margin: 0 auto;
    width: 280px;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

/* #volumeButton:hover {
    background: #ffffff50;
    color: #fff;
    animation: animHover 1s infinite;
} */

.volumeSet {
    border-radius: 3vw;
    background-image: url('https://imgur.com/uBx6zIV.png');
    background-size: 140%;
    background-position: 80% 10%;
    background-repeat: no-repeat;
	filter: hue-rotate(150deg);

    color: black;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 5px;
	letter-spacing: 2px;
	font-family: 'Akrobat';
	font-size: 15;
    transition: .6s;
}

.volumeSet {
    position: absolute;
    top: 2vh;
    left: 81.8vw;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

#volumeDown.volumeSet {
    top: 2vh;
    left: calc(81.8vw - 10px - 35px);
}

#volumeUp.volumeSet {
    top: 2vh;
    left: calc(81.8vw + 10px + 280px);
}

.volumeSet:hover {
    background: #ffffff50;
    color: #fff;
    animation: animHover 1s infinite;
}

#playButton {
    width: 100px;
    height: 35px;
    border-radius: 3vw;
    background-image: url('https://imgur.com/uBx6zIV.png');
    background-size: 120%;
    background-position: 80% 10%;
    background-repeat: no-repeat;
    color: black;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 5px;
	letter-spacing: 2px;
	font-family: 'Akrobat';
	font-size: 15;
    transition: .6s;
	filter: hue-rotate(150deg);
}

#playButton {
    position: absolute;
    bottom: 5.5vh;
    left: 81vw;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

#playButton:hover {
    background: #ffffff50;
    color: #fff;
    animation: animHover 1s infinite;
}

#stopButton {
    width: 100px;
    height: 35px;
    border-radius: 3vw;
    background-image: url('https://imgur.com/uBx6zIV.png');
    background-size: 120%;
    background-position: 80% 10%;
    background-repeat: no-repeat;
    color: black;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 5px;
	letter-spacing: 2px;
	font-family: 'Akrobat';
	font-size: 15;
    transition: .6s;
	filter: hue-rotate(150deg);
}

#stopButton {
    position: absolute;
    bottom: 5.5vh;
    left: 89.5vw;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

#stopButton:hover {
    background: #ffffff50;
    color: #fff;
    animation: animHover 1s infinite;
}

@keyframes animHover {
    0% { 
        box-shadow: 0 0 0 0px #ffffff50; 
    }
    100% { 
        box-shadow: 0 0 0 10px rgba(13, 10, 200, 0); 
    }
}

.carmusicListenMusic-Texts {
    position: absolute;
    top: 73%;
    left: 1.5%;
}

.carmusicListenMusic-Texts > h1 {
    color: #fff;
    font-family: 'Akrobat';
    line-height: 0.9vh;
    font-size: 1.5em;
    margin-top: -4vh;
    margin-left: 3.7vw;
    letter-spacing: 0.05em;
}

.carmusicListenMusic-Texts > h1 > p {
    color: #fff;
    opacity: .6;
    font-family: 'Akrobat';
    font-weight: 200;
    font-size: 0.7em;
}

/* .carmusicListenMusic-Shadow {
    position: absolute;
    top: -7vh;
    left: -4vh;
    width: 20%;
    height: 300%;
    background-image: url('https://imgur.com/L3tSO3F.png');
    background-size: 100% 100%;
    transform: rotate(180deg);
} */

.carmusicListenMusic-Texts > i {
    font-size: 1.5em;
    background: #4bddfe;
    color: black;
    padding: 1.3vh;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: .5vh;
}


#loopButton {
    border-radius: 3vw;
    background-image: url('https://imgur.com/uBx6zIV.png');
    background-size: 120%;
    background-position: 80% 10%;
    background-repeat: no-repeat;

    color: black;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 5px;
	letter-spacing: 2px;
	font-family: 'Akrobat';
	font-size: 15;
    transition: .6s;

	filter: hue-rotate(150deg);
}

#loopButton {
    position: absolute;
    top: 6.5vh;
    left: 81.8vw;
    margin: 0 auto;
    width: 280px;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

#loopButton:hover {
    background: #ffffff50;
    color: #fff;
    animation: animHover 1s infinite;
}

#prevButton {
    width: 100px;
    height: 35px;
    border-radius: 3vw;
    background-image: url('https://imgur.com/uBx6zIV.png');
    background-size: 120%;
    background-position: 80% 10%;
    background-repeat: no-repeat;
    color: black;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 5px;
	letter-spacing: 2px;
	font-family: 'Akrobat';
	font-size: 15;
    transition: .6s;
	filter: hue-rotate(150deg);
}

#prevButton {
    position: absolute;
    top: 11vh;
    left: 81vw;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

#prevButton:hover {
    background: #ffffff50;
    color: #fff;
    animation: animHover 1s infinite;
}

#nextButton {
    width: 100px;
    height: 35px;
    border-radius: 3vw;
    background-image: url('https://imgur.com/uBx6zIV.png');
    background-size: 120%;
    background-position: 80% 10%;
    background-repeat: no-repeat;
    color: black;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 5px;
	letter-spacing: 2px;
	font-family: 'Akrobat';
	font-size: 15;
    transition: .6s;
	filter: hue-rotate(150deg);
}

#nextButton {
    position: absolute;
    top: 11vh;
    left: 89.5vw;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

#nextButton:hover {
    background: #ffffff50;
    color: #fff;
    animation: animHover 1s infinite;
}